<h2>What is Urban Foraging?</h2>

<p>Urban Foraging is a website for sharing information about publically accessible local foraging in Greater Sydney</p>

<h2>Why did you create this website?</h2>

<p>Because foraging is great fun, and this would be a great resource. But also because this website is a good exercise in working with an HTML server and a SQL server database</p>