<div class="index_container">

    <% foods.each do |food| %>

        <div class="food_card">
            <%= cl_image_tag(food['image_url'], cloud_name: 'dmavnywma', :width => 300, :height => 300, :crop => 'fill', :gravity => 'auto')%>
            <div>
                <h3><a href="/foods?id=<%=food['id']%>" class="main_link"> <%= food['food_type'] %> </a></h3>
                <p> <%= food['location_description'] %> </p>
            </div>
        </div>

    <% end %>

</div>