<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Urban Foraging</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <div class="logo">
    <h1><a href="/">URBAN FORAGING</a></h1>
  </div>
  <nav>
    <a href="/about">about</a>
    <a href="/search">search</a>
    <% if logged_in? %>
      <a href="/sessions">profile</a>
    <% else %>
      <a href="/login">login</a>
    <% end %>
  </nav>
</header>

<main>
    <%if logged_in?%>
      <p class="current_user_message">You are signed in as <%= current_user['email']%> </p>

      <form action="/sessions" class="current_user_message" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>log out</button>
      </form>
      <% else %>
        <div class="not_logged_in"></div>
    <% end %>
    <%= yield %>
</main>

</body>
</html>
