<section class="generic_form">

    <form action="/sessions/new" method="post">
        <label for="">email</label>
        <input type="text" name="email">

        <label for="">password</label>
        <input type="password" name="password">

        <button>sign up</button>
    </form>

</section>