<form action="/foods" method="post">
    <label for="">food type</label>
    <input type="text" name="food_type">
    <label for="">image url</label>
    <input type="text" name="image_url">
    <label for="">location</label>
    <input type="text" name="location_description">
    <button>add</button>
</form>