<section class="new_food_form">

    <h2>New Post</h2>

    <form action="/foods" method="post" enctype="multipart/form-data">
        
        <label for="food_type">food type</label>
        <input type="text" name="food_type">
        
        <label for="image">image</label>
        <input type="file" name="image">
        
        <label for="location_description">location</label>
        <input type="text" name="location_description">

        <button>add</button>

    </form>
</section>