<h2>FEATURE COMING SOON</h2>

<p>Wouldn't it be wonderful if you could search based on regions within Sydney? Or find only vegetables, or fruit, or herbs, or funghi? Or even better, what if you could search for only fruit within your region of Sydney? Amazing, hey?! Well, you can't. Yet! But I'll get on to it, I promise. It's going to be the biggest, brightest feature of UrbanForaging v2.0</p>