* {
	box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

h1, h2, h3, a, p, label {
    font-family: 'Jost', sans-serif;
}

a {
    color: black;
}

a:hover {
    color: darkolivegreen;
}

header {
    height: 20%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

header nav {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

header h1 {
    text-align: center;
}

h1 a {
    color: black;
    text-decoration: none;
}

header a {
    font-size: 1.75em;
    margin: auto;
}

.index_container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5%;
    padding-top: 5%;
}

.index_container > div {
    margin: 0 auto;
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
}

.food_card {
    display: grid;
    width: 300px;
    grid-template-rows: 1fr 1fr;
}

.food_card img {
    display: block;
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.food_card h3 {
    text-align: center;
}

.food_card p {
    text-align: justify;
    padding: 10%;
}

.current_user_message {
    text-align: right;
    padding-right: 1%;
}

.banner {
    display: block;
    width: 20%;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
}

.banner h2 {
    text-align: center;
    padding: 5%;
}

.generic_form, .food_details, .new_food_form, .edit_food_form {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
}

.generic_form input, .new_food_form input, .edit_food_form input{
    padding: 1em;
    margin: 0 auto;
    display: block;
}

.generic_form label, .new_food_form label, .edit_food_form label {
    display: block;
    margin: 10% auto 0 auto;
}

.generic_form button, .new_food_form button, .edit_food_form button {
    margin-top: 10%;
    margin-bottom: 10%;
}

.generic_form img, .food_details img, .edit_food_form img{
    display: block;
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.not_logged_in {
    height: 4em;
}

.add_post {
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    margin: 5% auto 0 auto;
    width: 20%;
    height: 20%
}

.add_post:hover {
    border: 2px solid darkolivegreen;
}

.add_post a {
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.details_buttons {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}